# Environment variables
.env
.env.*
!.env.example

# Python cache & virtual environment
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing & Linting
.pytest_cache/
.coverage
htmlcov/

# Flask & IDE
instance/
.webassets-cache
.vscode/
.idea/
